@charset "utf-8";
/* CSS Document */
.logo{width:960px; height:561px; margin:0 auto; padding-top:41px; background:url(../../image/Road%20assistance/Road%20assistance%20(4).jpg) no-repeat center bottom;}
.content{width:960px; height:670px; margin:0 auto;}
.content .left{float:left; width:300px;}
.content .left li{font-family:"微软雅黑"; font-size:10px; color:#000000; height:40px; line-height:40px; float:left;}
.content .top{ width:960px; margin:0 auto;}
.content .top .left li a{font-family:"微软雅黑"; font-size:10px; color:#000000; text-decoration:none;}
.content .top .left li a:hover{color:#000; text-decoration:underline;}
.content .top .right{float:right; width:298px;}
.content .top .right li{height:40px; line-height:40px; float:left; padding-right:20px;}
.content .top .right li a{font-family:"微软雅黑"; font-size:10px; color:#787576; text-decoration:none;}
.content .top .right li a img{padding-left:10px;}
.content .bottom{ width:960px; margin:0 auto;}
.content .bottom .left{float:left; width:160px; padding-right:96px;}
.content .bottom .left .first{padding-top:19px; width:160px;}
.content .bottom .left .first li{height:22px; width:160px; line-height:22px; font-family:"微软雅黑"; font-size:12px; color:#000000;}
.content .bottom .left .first li a{font-family:"微软雅黑"; font-size:12px; color:#666; text-decoration:none;}
.content .bottom .left .first a:hover{color:#000;}
.content .bottom .left .first li .second{padding-left:12px;}
.content .bottom .right{float:left; width:704px;}
.content .bottom .right h2{height:61px; line-height:61px; font-family:"微软雅黑"; font-size:24px; color:#666666; padding-bottom:9px;}
.content .bottom .right p{line-height:21px; font-family:"微软雅黑"; font-size:14px; color:#333333; padding-bottom:17px;}
.content .bottom .right ul{padding-bottom:20px;}
.content .bottom .right ul li{height:20px; line-height:20px; font-family:"微软雅黑"; font-size:14px; color:#333333;}
.content .bottom .right ul li a{font-family:"微软雅黑"; font-size:14px; color:#8d758b; text-decoration:underline;}
.content .bottom .right ul li a:hover{color:#000;}



