@charset "utf-8";
/* CSS Document */
.body{background:#e0e0e0;}
body>.top{width:100%; height: 84px; margin:0px auto; background:#535353;}
body>.top>h5{font-size:12px; color:#fff; padding-left:70px; padding-top:35px; float:left;}
.header{width:100%;}
.header .main{width:100%; height:102px; background: url(../../image/quanxin/img_077.jpg) no-repeat 146px top, url(../../image/quanxin/img_05.jpg) no-repeat center bottom; margin:0 auto; position:relative;}
.header .main .zero{padding-left:30px; padding-top:28px;}
.header .main .one{position:absolute; left:875px; top:52px;}
.header .main .two{
	position: absolute;
	left: 1137px;
	top: 19px;
}
.header .main ul{height:76px; line-height:76px; position:absolute; left:250px; top:24px;}
.header .main ul li{width:128px; text-align:left; float:left; background:url(../images/img_04.jpg) no-repeat 82px 35px;}
.header .main ul li:first-child{padding-left:66px; background:url(../images/img_04.jpg) no-repeat 148px 35px;}
.header .main ul li:hover{background:url(../../image/quanxin/img_07.jpg) no-repeat 82px 35px;}
.header .main ul li:visited{color:#000000;}
.header .main ul li:first-child:hover{background:url(../images/img_07.jpg) no-repeat 148px 35px;}
.header .main ul li a{display:block; font-family:"微软雅黑"; font-size:18px; color:#a8a8a8;}
.header .main ul li .nav{width:960px; height:36px; line-height:36px; background:url(../images/img_05.jpg) no-repeat center top, #e0e0e0; position:absolute; left:-250px; top:76px; display:none;}
.header .main ul li .nav a{display:inline-block; padding-right:42px;}
.header .main ul li .nav a:first-child{padding-left:20px;}
.header .main ul li a:hover{color:#000000;}
.header .main ul li:hover .nav{display:block;}
.content{width:100%;margin:0px auto;}
.content>h2,p{width:960px; margin:0px auto;}
.content>h2{padding-left:184px; padding-top:70px; padding-bottom:22px; font-size:36px; color:#333333;}
.content>p{line-height:20px; color:#333; font-size:16px; padding-bottom:32px; border-bottom:1px solid #e6e6e6;}
.mid{width:100%; height:325px; margin:0px auto; background:#fff;}
.mid>h3{font-size:18px; font-weight:100; color:#000; padding-left:235px; line-height:66px; height:66px;}
.bottom{width:100%; margin:28px 62px auto auto; position:relative; height:297px; background:#fff;}
.bottom>a{display:block; float:left; width:610px; font-size:18px; color:#333333; text-align:center;}
.footer{width:100%;}
.footer .top{width:100%; height:188px; margin:0 auto; background:url(../images/img_17.jpg) no-repeat 517px 95px,#535353; position:relative;}
.footer .top h2{height:45px; line-height:45px; padding-top:16px; padding-left:30px; font-family:"微软雅黑"; font-size:18px; color:#ffffff;}
.footer .top select{width:419px; height:50px; margin-left:30px; border:1px solid #e7e8e8;}
.footer .top select option{font-family:"微软雅黑"; font-size:16px; color:#000;}
.footer .top .one{display:block; position:absolute; left:594px; top:45px;}
.footer .top .two{display:block; position:absolute; left:805px; top:45px;}
.footer .top .three{display:block; position:absolute; left:574px; top:124px;}
.footer .top .four{display:block; position:absolute; left:769px; top:124px;}
.footer .bottom{width:100%; height:190px; margin:0 auto; background:#000000; position:relative;}
.footer .bottom span{height:33px; line-height:33px; font-family:"微软雅黑"; font-size:14px; color:#767676; padding-left:828px;}
.footer .bottom .three{position:absolute; left:889px; top:0;}
.footer .bottom ul{padding-left:30px; padding-top:21px;}
.footer .bottom ul li{float:left; padding-right:71px; height:70px; line-height:70px; font-family:"微软雅黑"; font-size:14px; color:#ffffff; }
.footer .bottom ul li a{font-family:"微软雅黑"; font-size:14px; color:#ffffff;}
.footer .bottom .one{position:absolute; left:708px; top:82px;}
.footer .bottom .two{position:absolute; left:30px; top:125px;;}
