/* Body text */
body{
	font-family:Arial, Verdana, Helvetica, 宋体, SimSun, 华文细黑, STXihei, sans-serif;
}
#header a, #footer label, .article h1, .article h2, 
#content .img-lnk a, #filmstripHome .overlay {
	font-family:Arial, Verdana, Helvetica, 黑体, SimHei, sans-serif;
}
#content .img-lnk a {font-size:1.3em;}
#filmstripHome .overlay {
	font-weight: bold;
}
.article p, .article td, .article td span {
    font: 14px/20px Arial, Helvetica, 宋体, SimSun, 华文细黑, STXihei, sans-serif;
}

/* Baidu map infoWindow padding */
.article .map a {
    padding: 20px 20px 20px 0;
}

/* Forms */
.formWrap .requiredMessage {
    font-size: 14px;
    text-align: right;
}